# Specifically For MAC Based Directories
.DS_Store

# Secured Information In DataSource
DataSource.groovy

# Don't Commit/Track The target/ Output Directory
target/*

# Standard List Of Non-Tracked Grails Files
web-app/WEB-INF/classes
web-app/WEB-INF/lib
web-app/WEB-INF/grails-app
web-app/WEB-INF/spring
test/classes
test/reports
staging
